*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
  background-color: #081b31; 
  color: #fff;
  height: 5rem;
  text-align: center;
  line-height: 5rem; 
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s ease-in;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 2rem;
    font-size: 2rem;
}
.score-board #user-score, #comp-score{
    font-size: 4rem;
}
#msg{
    text-align: center;
    font-size: 2rem;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 1rem;
    border-radius: 12px;
}
.msg-container{
    text-align: center;
    margin-top: 3rem;
}
@media (max-width: 480px){
    .choice img{
        height: 135px;
        width: 135px;
    }
    .choices{
        margin-top: 2rem;
        gap: 0;
    }
    #msg{
        font-size: 1.3rem;
    }
}